<body class="text-gray-700 bg-white antialiased" style="font-family: 'Roboto', sans-serif">

  <!--Nav-->
    <nav class=" flex items-center justify-between flex-wrap p-6 cabezera">

        <div class="flex items-center flex-shrink-0 text-white md:text-right mr-6">
          <span class="font-semibold text-xl tracking-tight hover:text-green-800"><a href="#">PAGEPALACE</a></span>
        </div>

        <div class="block lg:hidden">
          <button id="nav-toggle" class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-800 hover:border-teal-500 appearance-none focus:outline-none">
          <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
            </svg>
          </button>
        </div>

      <div id="nav-content" class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block pt-6 lg:pt-0 md:text-right ">
        <div class="text-sm lg:flex-grow">
            <a routerLink="/inicio" routerLinkActive="router-link-active"  class="font-semibold block mt-1 lg:inline-block lg:mt-0 text-white hover:text-teal-800 mr-4 inicio">Inicio</a>
            <a routerLink="/" class="font-semibold block mt-4 lg:inline-block lg:mt-0 text-white hover:text-teal-800 mr-4 tienda">Tienda</a>
         </div>
       </div>

    </nav>

  <!--Hero
  style="background: linear-gradient(90deg, #2b4554 0%, #767ba2 100%)"
  -->
    <div class="py-40 bg-cover bg-no-repeat bg-fixed" style="background-image: url(https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2021/08/mejores-librerias-gratis-online-descargar-libros-dominio-publico-2430787.jpg)">
      <div class="container m-auto text-center px-6 opacity-100">
        <h2 class="pt-12 text-4xl font-bold mb-2 text-white">La mejor tienda online para comprar libros!</h2>
        
      </div>
    </div>

          <!-- Features -->
          <body class="text-gray-700 bg-white antialiased" style="font-family: 'Roboto', sans-serif">



            <!--Libros-->
            <section class="container mx-auto px-6 p-10">
              <h2 class="text-4xl font-bold text-center text-gray-800 mb-8">BIENVENIDO A PAGE PALACE</h2>
              <p class="parrafo text-center">Explora un universo de historias en nuestro oasis literario. En BookWander, te ofrecemos una experiencia única para descubrir y adquirir tus libros favoritos con facilidad y seguridad. Desde bestsellers hasta joyas literarias ocultas, nuestro catálogo cuidadosamente seleccionado tiene algo para todos los amantes de la lectura. Navega por nuestras categorías, encuentra recomendaciones personalizadas y sumérgete en la magia de la lectura desde la comodidad de tu hogar. ¿Listo para comenzar tu próxima aventura literaria? ¡Explora, elige y sumérgete en el mundo de los libros con BookWander!</p>
              <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-10">
                <div *ngFor="let libro of libros" class="border rounded-lg overflow-hidden shadow-lg card">
                  <img [src]="getImageUrl(libro.imagenUrl)" alt="{{libro.titulo}}" class="p-5 w-full h-48 object-cover">
                  <div class="p-6">
                    <h3 class="text-xl font-semibold mb-2">{{libro.titulo}}</h3>
                    <p class="text-gray-600">{{libro.autor}}</p>
                    <p class="text-gray-800 font-bold">S/ {{libro.precio}}</p>
                    <p class="text-gray-800 font-bold">Descripción:</p>
                  </div>
                </div>
              </div>
            </section>

          </body>


        </body>
