<div class='grid grid-cols-12'>
  <div class="col-span-4 text-white font-sans font-bold bg-black min-h-screen pl-7">
      <div class="grid grid-rows-6 grid-flow-col min-h-screen items-center justify-items-start">
          <div class="row-span-4 row-start-2 text-4xl">
              <img src="https://thumbs.dreamstime.com/b/icono-o-logotipo-de-la-tienda-en-l%C3%ADnea-del-comercio-electr%C3%B3nico-concepto-negocio-fondo-oscuro-132814766.jpg" style="width: 500px;" alt="">
              Ingreso a la tienda PAGE PALACE
              <div class="pt-10 pr-20 m-3">
                  <label class="text-sm font-sans font-medium">
                      Nombre de Usuario
                  </label>
                  <input
                      type="text"
                      name="username"
                      [(ngModel)]="username"
                      placeholder="Escribe tu nombre de usuario"
                      class="w-full bg-black py-3 px-12 border hover: border-gray-500 rounded shadow text-base font-sans"/>
              </div>
              <div class="pt-2 pr-20 m-3">
                  <label class="text-sm font-sans font-medium">
                      Contraseña
                  </label>
                  <input
                      type="password"
                      name="password"
                      [(ngModel)]="password"
                      placeholder="Escribe tu contraseña"
                      class="w-full bg-black py-3 px-12 border hover: border-gray-500 rounded shadow text-base font-sans"/>
                  <a href="" class="text-sm font-sans font-medium text-gray-600 underline">
                      Olvidaste tu contraseña?
                  </a>
              </div>
              <!-- Button -->
              <div class="text-sm font-sans font-medium w-full pr-20 pt-14">
                  <button
                      type="submit"
                      (click)="login()"
                      class="text-center w-full py-4 hover:bg-white rounded-md text-white" style="background-color: rgb(126, 97, 44);">
                          INGRESAR
                  </button>
              </div>
          </div>
          <!-- Text -->
          <a routerLink="/registro" routerLinkActive="router-link-active"  class="text-sm font-sans font-medium text-gray-400 underline">
              No tienes cuenta? Creala aquí
          </a>
      </div>
  </div>
  <!-- Second column image -->
  <div class="banner col-span-8 text-white font-sans font-bold"></div>
</div>
